.loading{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:35px;

    margin-top:20px;

}


.spinner{

    width:60px;

    height:60px;

    border:6px solid #334155;

    border-top:6px solid #38bdf8;

    border-radius:50%;

    animation:spin 1s linear infinite;

}


.loading h3{

    color:#38bdf8;

    margin-top:20px;

}


.loading p{

    color:#94a3b8;

}


@keyframes spin{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}