.sidebar{

    width:250px;

    min-height:calc(100vh - 70px);

    background:#0f172a;

    padding:25px 20px;

    display:flex;

    flex-direction:column;

    border-right:1px solid #1e293b;

    box-shadow:4px 0 15px rgba(0,0,0,.08);

}


.sidebar h2{

    color:white;

    font-size:22px;

    margin-bottom:20px;

}


.learning-title{

    margin-top:35px;

}


.sidebar a{

    color:#cbd5e1;

    text-decoration:none;

    padding:12px 15px;

    border-radius:10px;

    margin-bottom:8px;

    font-weight:500;

    transition:.3s;

}


.sidebar a:hover{

    background:#2563eb;

    color:white;

    transform:translateX(6px);

}


@media(max-width:900px){

    .sidebar{

        width:220px;

    }

}


@media(max-width:768px){

    .sidebar{

        width:100%;

        min-height:auto;

        border-right:none;

        border-bottom:1px solid #1e293b;

        padding:15px;

    }

    .sidebar h2{

        text-align:center;

    }

    .sidebar a{

        margin-bottom:6px;

    }

}

.sidebar a.active {

    background: #2563eb;
    color: white;
    border-radius: 8px;

}